

.project {
	clear:both;
	.gallery {
		width:100%;
		padding-top:$baseline-height;
		padding-bottom:$baseline-height;
		.gallery_image_wrapper {
			position:relative;
			overflow: auto;
			//padding-top:$baseline-height / 2;
			padding-bottom:$baseline-height / 2;
			
			ul {
				position:relative;
				margin:0;
				padding:0;
				height:500px;
				li {
				list-style:none;
				float:left;
				}
				.gallery_image {
					list-style:none;
					float:left;
					margin:0;
					padding:0;
					background-size:contain;
					background-position:top left;
					background-repeat:no-repeat;
					width:100%;
					//height:0;
					height:100%;

				}
			}

		}
	}
	.description {
		h3 + p{
			padding-top:$baseline-height / 2;
		}
		p + h3 {
			padding-top:24px;
		}
		ul {
		
			margin:0;
			padding:0;
			li {
				margin:0;
				list-style:none;
			}
		}
	}
	
}
	


@mixin home_section($screen-width: 320, $min-width:320px, $wrapper-width:100%, $gallery-height: 500px, $project-padding:24px, $project-padding-sides:24px){

	@media (min-width: $min-width) {
		.project {
			padding:$project-padding $project-padding-sides;
			.gallery {
				.gallery_image_wrapper {
					ul {
						height:$gallery-height;
					}
				}
			}
		}
		
		#dennis_publishing_profanisaurus_ipad_app {
			.gallery {
				.gallery_image_wrapper {
					ul {
						height:$gallery-height * 0.9;
					}
				}
			}
		}
		
		#johnlewis_windows8_app {
			.gallery {
				.gallery_image_wrapper {
					ul {
						height:$gallery-height * 0.7;
					}
				}
			}
		}
		.wrapper {
			.intro, .contact {
				padding:$project-padding $project-padding-sides;
				.content {
					padding:0;
				}
			}
				
		}
	}
}

//this is for 320
@include home_section($screen-width: 320, $min-width:320px, $wrapper-width:100%, $gallery-height: 480px, $project-padding:24px, $project-padding-sides:24px);
@include home_section($screen-width: 480, $min-width:480px, $wrapper-width:100%, $gallery-height: 440px, $project-padding:24px, $project-padding-sides:24px);
@include home_section($screen-width: 600, $min-width:600px, $wrapper-width:100%, $gallery-height: 440px, $project-padding:24px, $project-padding-sides:24px);
@include home_section($screen-width: 768, $min-width:768px, $wrapper-width:100%, $gallery-height: 440px, $project-padding:24px, $project-padding-sides:8.33%);
@include home_section($screen-width: 800, $min-width:800px, $wrapper-width:100%, $gallery-height: 440px, $project-padding:24px, $project-padding-sides:12.5%);
@include home_section($screen-width: 1280, $min-width:1280px, $wrapper-width:1280px, $gallery-height: 440px, $project-padding:24px, $project-padding-sides:20%);


@media (min-width: 533px) {
	.project {
		.gallery {
			width:40%;
			float:left;
			.gallery_image_wrapper {
				
			}
		}
		.description {
			padding-top:$baseline-height;
		}
		.description {
			width:50%;
			padding-left:24px;
			float:left;
		}
		.description:after {
			content:"";
			clear:left;
			display:block;
		}
		.description_after {
			clear:left;
			display:block;
		}
	}
}


#dennis_publishing_evo_magazine {
	background:#fff;
	color:#111;
	.gallery_image_wrapper {
		background:rgba(0,0,0,0.1);
	}
}

#dennis_publishing_mensfitness_magazine {
	background:#c00;
	color:#fff;
	.gallery_image_wrapper {
		background:rgba(255,255,255,0.2);
	}
}

#dennis_publishing_cyclist_magazine {
	background:#ececec;
	.gallery_image_wrapper {
		background:rgba(0,0,0,0.1);
	}
}

#dennis_publishing_profanisaurus_ipad_app {
	background:#30308a;
	color:#fff;
	.gallery_image_wrapper {
		background:rgba(255,255,255,0.2);
	}
}
#johnlewis_windows8_app {
	background:#726f68;
	color:#fff;
	.gallery_image_wrapper {
		background:rgba(255,255,255,0.2);
	}
}
#penguin_roughguides_windowsphone_app {
	background:#141a3a;
	color:#fff;
}

#ee_glastonbury_2013_app {
	background:#009c9c;
	color:#fff;
	.gallery_image_wrapper {
		background:rgba(255,255,255,0.2);
	}
}

.gallery_image_wrapper {
	background:none !important;
}
