
.wrapper {
	background:#f2f2f2;
	header {
		background-position:center;
		background-repeat:no-repeat;
	}
}


@mixin page_wrapper($screen-width: 320, $min-width:320px, $wrapper-width:100%, $home-height: 568px, $background-image: "/assets/images/pebble@2x.png", $background-size:240px 160px){

	@media (min-width: $min-width) {
		.wrapper {
			width:$wrapper-width;
			margin:0 auto;
			height: auto !important; /* ie6 ignores !important, so this will be overridden below */
			min-height: 100%; /* ie6 ignores min-height completely */

			header {
				height:0;
				padding-bottom:$home-height;
				background-image:url($background-image);
				background-size:$background-size;
			}
		}

	}
}

@media (min-width: 768px) {
	.wrapper {
		header {
			//width:50%;
			//float:left;
		}
		.intro {
			//float:left;
			box-sizing:border-box;
			//width:80%;
			//height:0;
			padding:0;
			//padding-bottom:33%;
			.content {
				width:100%;
				box-sizing:border-box;
				padding:24px;
				h2 {
				padding-bottom:24px;
				}
				p {
				-moz-column-count:2; /* Firefox */
				-webkit-column-count:2; /* Safari and Chrome */
				column-count:2;
				}
			}
		}
	}
}

//this is for 320
@include page_wrapper($screen-width: 320, $min-width:320px, $wrapper-width:100%, $home-height: 66%, $background-image: "/assets/images/pebble@2x.png", $background-size:240px 135px);
@include page_wrapper($screen-width: 480, $min-width:480px, $wrapper-width:100%, $home-height: 66%, $background-image: "/assets/images/pebble@2x.png", $background-size:320px 180px);
@include page_wrapper($screen-width: 600, $min-width:600px, $wrapper-width:100%, $home-height: 50%, $background-image: "/assets/images/pebble@2x.png", $background-size:320px 180px);
@include page_wrapper($screen-width: 768, $min-width:768px, $wrapper-width:100%, $home-height: 33%, $background-image: "/assets/images/pebble@2x.png", $background-size:360px 202px);
@include page_wrapper($screen-width: 1024, $min-width:1024px, $wrapper-width:100%, $home-height: 33%, $background-image: "/assets/images/pebble_large@2x.png", $background-size:360px 202px);
@include page_wrapper($screen-width: 1280, $min-width:1280px, $wrapper-width:1280px, $home-height: 33%, $background-image: "/assets/images/pebble_large@2x.png", $background-size:480px 270px);


