/* SASS littlepapa.scss */

html {
	height:100%;
}
body {
	margin:0;
	height:100%;
	font-family:sans-serif;
}

h1, h2, h3, p {
margin:0;
padding:0;
}

h2.tk-lexia {
	font-weight:700;
	font-style:normal;
	b {
		font-weight:800;
	}
}

$baseline-height:24px;


@import "page_wrapper";
@import "home_section_work";

header {
	display:block;
	margin:0;
	padding:0;
	background:#0d6e96;
	height:400px;
}

.intro, .contact, .text_block {
	background:#aea71d;
	padding:24px;
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	font-size:1.125rem;
	a {
		color:#fff;
	}
	a.button {
		background:darken(#aea71d,10%);
		text-decoration:none;
		line-height:48px;
		display:block;
		text-align:center;
		margin-top:$baseline-height;
		margin-bottom:$baseline-height * 2;
	}
}
.clear {
	clear:left;
}
/*
@import "page_sections";
@import "page_header";
@import "page_footer";

@import "page_home_header";
@import "product_listing";
*/



