/* SASS littlepapa.scss */
html { height: 100%; }

body { margin: 0; height: 100%; font-family: sans-serif; }

h1, h2, h3, p { margin: 0; padding: 0; }

h2.tk-lexia { font-weight: 700; font-style: normal; }
h2.tk-lexia b { font-weight: 800; }

.wrapper { background: #f2f2f2; }
.wrapper header { background-position: center; background-repeat: no-repeat; }

@media (min-width: 768px) { .wrapper .intro { box-sizing: border-box; padding: 0; }
  .wrapper .intro .content { width: 100%; box-sizing: border-box; padding: 24px; }
  .wrapper .intro .content h2 { padding-bottom: 24px; }
  .wrapper .intro .content p { -moz-column-count: 2; /* Firefox */ -webkit-column-count: 2; /* Safari and Chrome */ column-count: 2; } }
@media (min-width: 320px) { .wrapper { width: 100%; margin: 0 auto; height: auto !important; /* ie6 ignores !important, so this will be overridden below */ min-height: 100%; /* ie6 ignores min-height completely */ }
  .wrapper header { height: 0; padding-bottom: 66%; background-image: url("/assets/images/pebble@2x.png"); background-size: 240px 135px; } }
@media (min-width: 480px) { .wrapper { width: 100%; margin: 0 auto; height: auto !important; /* ie6 ignores !important, so this will be overridden below */ min-height: 100%; /* ie6 ignores min-height completely */ }
  .wrapper header { height: 0; padding-bottom: 66%; background-image: url("/assets/images/pebble@2x.png"); background-size: 320px 180px; } }
@media (min-width: 600px) { .wrapper { width: 100%; margin: 0 auto; height: auto !important; /* ie6 ignores !important, so this will be overridden below */ min-height: 100%; /* ie6 ignores min-height completely */ }
  .wrapper header { height: 0; padding-bottom: 50%; background-image: url("/assets/images/pebble@2x.png"); background-size: 320px 180px; } }
@media (min-width: 768px) { .wrapper { width: 100%; margin: 0 auto; height: auto !important; /* ie6 ignores !important, so this will be overridden below */ min-height: 100%; /* ie6 ignores min-height completely */ }
  .wrapper header { height: 0; padding-bottom: 33%; background-image: url("/assets/images/pebble@2x.png"); background-size: 360px 202px; } }
@media (min-width: 1024px) { .wrapper { width: 100%; margin: 0 auto; height: auto !important; /* ie6 ignores !important, so this will be overridden below */ min-height: 100%; /* ie6 ignores min-height completely */ }
  .wrapper header { height: 0; padding-bottom: 33%; background-image: url("/assets/images/pebble_large@2x.png"); background-size: 360px 202px; } }
@media (min-width: 1280px) { .wrapper { width: 1280px; margin: 0 auto; height: auto !important; /* ie6 ignores !important, so this will be overridden below */ min-height: 100%; /* ie6 ignores min-height completely */ }
  .wrapper header { height: 0; padding-bottom: 33%; background-image: url("/assets/images/pebble_large@2x.png"); background-size: 480px 270px; } }
.project { clear: both; }
.project .gallery { width: 100%; padding-top: 24px; padding-bottom: 24px; }
.project .gallery .gallery_image_wrapper { position: relative; overflow: auto; padding-bottom: 12px; }
.project .gallery .gallery_image_wrapper ul { position: relative; margin: 0; padding: 0; height: 500px; }
.project .gallery .gallery_image_wrapper ul li { list-style: none; float: left; }
.project .gallery .gallery_image_wrapper ul .gallery_image { list-style: none; float: left; margin: 0; padding: 0; background-size: contain; background-position: top left; background-repeat: no-repeat; width: 100%; height: 100%; }
.project .description h3 + p { padding-top: 12px; }
.project .description p + h3 { padding-top: 24px; }
.project .description ul { margin: 0; padding: 0; }
.project .description ul li { margin: 0; list-style: none; }

@media (min-width: 320px) { .project { padding: 24px 24px; }
  .project .gallery .gallery_image_wrapper ul { height: 480px; }
  #dennis_publishing_profanisaurus_ipad_app .gallery .gallery_image_wrapper ul { height: 432px; }
  #johnlewis_windows8_app .gallery .gallery_image_wrapper ul { height: 336px; }
  .wrapper .intro, .wrapper .contact { padding: 24px 24px; }
  .wrapper .intro .content, .wrapper .contact .content { padding: 0; } }
@media (min-width: 480px) { .project { padding: 24px 24px; }
  .project .gallery .gallery_image_wrapper ul { height: 440px; }
  #dennis_publishing_profanisaurus_ipad_app .gallery .gallery_image_wrapper ul { height: 396px; }
  #johnlewis_windows8_app .gallery .gallery_image_wrapper ul { height: 308px; }
  .wrapper .intro, .wrapper .contact { padding: 24px 24px; }
  .wrapper .intro .content, .wrapper .contact .content { padding: 0; } }
@media (min-width: 600px) { .project { padding: 24px 24px; }
  .project .gallery .gallery_image_wrapper ul { height: 440px; }
  #dennis_publishing_profanisaurus_ipad_app .gallery .gallery_image_wrapper ul { height: 396px; }
  #johnlewis_windows8_app .gallery .gallery_image_wrapper ul { height: 308px; }
  .wrapper .intro, .wrapper .contact { padding: 24px 24px; }
  .wrapper .intro .content, .wrapper .contact .content { padding: 0; } }
@media (min-width: 768px) { .project { padding: 24px 8.33%; }
  .project .gallery .gallery_image_wrapper ul { height: 440px; }
  #dennis_publishing_profanisaurus_ipad_app .gallery .gallery_image_wrapper ul { height: 396px; }
  #johnlewis_windows8_app .gallery .gallery_image_wrapper ul { height: 308px; }
  .wrapper .intro, .wrapper .contact { padding: 24px 8.33%; }
  .wrapper .intro .content, .wrapper .contact .content { padding: 0; } }
@media (min-width: 800px) { .project { padding: 24px 12.5%; }
  .project .gallery .gallery_image_wrapper ul { height: 440px; }
  #dennis_publishing_profanisaurus_ipad_app .gallery .gallery_image_wrapper ul { height: 396px; }
  #johnlewis_windows8_app .gallery .gallery_image_wrapper ul { height: 308px; }
  .wrapper .intro, .wrapper .contact { padding: 24px 12.5%; }
  .wrapper .intro .content, .wrapper .contact .content { padding: 0; } }
@media (min-width: 1280px) { .project { padding: 24px 20%; }
  .project .gallery .gallery_image_wrapper ul { height: 440px; }
  #dennis_publishing_profanisaurus_ipad_app .gallery .gallery_image_wrapper ul { height: 396px; }
  #johnlewis_windows8_app .gallery .gallery_image_wrapper ul { height: 308px; }
  .wrapper .intro, .wrapper .contact { padding: 24px 20%; }
  .wrapper .intro .content, .wrapper .contact .content { padding: 0; } }
@media (min-width: 533px) { .project .gallery { width: 40%; float: left; }
  .project .description { padding-top: 24px; }
  .project .description { width: 50%; padding-left: 24px; float: left; }
  .project .description:after { content: ""; clear: left; display: block; }
  .project .description_after { clear: left; display: block; } }
#dennis_publishing_evo_magazine { background: #fff; color: #111; }
#dennis_publishing_evo_magazine .gallery_image_wrapper { background: rgba(0, 0, 0, 0.1); }

#dennis_publishing_mensfitness_magazine { background: #c00; color: #fff; }
#dennis_publishing_mensfitness_magazine .gallery_image_wrapper { background: rgba(255, 255, 255, 0.2); }

#dennis_publishing_cyclist_magazine { background: #ececec; }
#dennis_publishing_cyclist_magazine .gallery_image_wrapper { background: rgba(0, 0, 0, 0.1); }

#dennis_publishing_profanisaurus_ipad_app { background: #30308a; color: #fff; }
#dennis_publishing_profanisaurus_ipad_app .gallery_image_wrapper { background: rgba(255, 255, 255, 0.2); }

#johnlewis_windows8_app { background: #726f68; color: #fff; }
#johnlewis_windows8_app .gallery_image_wrapper { background: rgba(255, 255, 255, 0.2); }

#penguin_roughguides_windowsphone_app { background: #141a3a; color: #fff; }

#ee_glastonbury_2013_app { background: #009c9c; color: #fff; }
#ee_glastonbury_2013_app .gallery_image_wrapper { background: rgba(255, 255, 255, 0.2); }

.gallery_image_wrapper { background: none !important; }

header { display: block; margin: 0; padding: 0; background: #0d6e96; height: 400px; }

.intro, .contact, .text_block { background: #aea71d; padding: 24px; color: #fff; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); font-size: 1.125rem; }
.intro a, .contact a, .text_block a { color: #fff; }
.intro a.button, .contact a.button, .text_block a.button { background: #827d16; text-decoration: none; line-height: 48px; display: block; text-align: center; margin-top: 24px; margin-bottom: 48px; }

.clear { clear: left; }

/*
@import "page_sections";
@import "page_header";
@import "page_footer";

@import "page_home_header";
@import "product_listing";
*/
